<div class="section-header">
    <h1>Clientes</h1>
    <button class="btn-primary" onclick="window.app.openModal('cliente')"><i class="fa-solid fa-plus"></i> Novo Cliente</button>
</div>
<div class="data-table-container">
    <table class="data-table" id="table-clientes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome / Razão Social</th>
                <th>Documento</th>
                <th>Contato</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
