<div class="section-header">
    <h1>Movimentações de Estoque</h1>
    <p>Histórico completo de entradas e saídas.</p>
</div>

<div class="data-table-container">
    <table class="data-table" id="table-dashboard">
        <thead>
            <tr>
                <th>Data</th>
                <th>Produto</th>
                <th>Tipo</th>
                <th>Qtd</th>
                <th>Responsável</th>
                <th>Referência</th>
            </tr>
        </thead>
        <tbody>
          
        </tbody>
    </table>
</div>
